# -------------------------
# Python
# -------------------------
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Virtualenv
.venv/
venv/
env/

# -------------------------
# FastAPI / Uvicorn
# -------------------------
*.log

# -------------------------
# SQLite
# -------------------------
*.sqlite
*.sqlite3
/data/

# -------------------------
# OS / IDE
# -------------------------
.DS_Store
.idea/
.vscode/
*.swp

# -------------------------
# Environment variables
# -------------------------
.env
.env.*

# -------------------------
# CSV imports
# -------------------------
initial_data.csv

# -------------------------
# Docker
# -------------------------
__pypackages__/
